body {
    background: linear-gradient(45deg, #f3f4f6, #91d4f3, #7eb9f8, #0579f5);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #000000;
    scroll-behavior: smooth;
}

header {
    background-color: rgba(44, 62, 80, 0.9);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

h1 {
    margin-bottom: 0.5em;
    color: #ffffff;
}
main {
    background-color: #ffffff00;
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;    
}

.course-section {
    background-color: #fffffffd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    margin-bottom: 2rem;
}

h2 {
    color: #000000;
    border-bottom: 2px solid #3498db;
    padding-bottom: 0.5em;
    margin-top: 1.5em;
}

p {
    margin-bottom: 1em;
}

.investment-type {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #ecf0f1;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.investment-type:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.pros-cons {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.pros,
.cons {
    width: 48%;
}

.pros h4,
.cons h4 {
    color: #2c3e50;
    margin-bottom: 0.5em;
}

.pros ul,
.cons ul {
    padding-left: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2980b9;
}

footer {
    text-align: center;
    margin-top: 2em;
    padding: 1em;
    background-color: rgba(44, 62, 80, 0.9);
    color: #ecf0f1;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .pros-cons {
        flex-direction: column;
    }

    .pros,
    .cons {
        width: 100%;
        margin-bottom: 1em;
    }
}